
// Overwrite Bootstrap variables
$enable-gradients: true;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;

$primary: #4898da;
$info: #4eb865;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";